/*==================
    Portfolio Area 
==================*/
.portfolio {
    position: relative;
    @extend %transition;
    min-height: 260px;
    width: 100%;
    padding-top: 35%;
    
    @media #{$laptop-device} {
        min-height: 300px;
    }
    @media #{$lg-layout} {
        min-height: 300px;
    }
    @media #{$md-layout} {
        min-height: 300px;
    }
    @media #{$sm-layout} {
        min-height: 260px;
    }
    .thumbnail-inner{
        transition: transform .28s ease;
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border-radius: 5px;
        cursor: pointer;

        &::before{
            background-color: black;
            background-image: linear-gradient(#000000 10%, #000000 100%);
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height : 100%;
            z-index: 5;
            opacity: 0;
            @extend %transition;
        }
    }
    .thumbnail{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        background-image: linear-gradient(#000000 20%, #000000 100%);
        transform: scale(1.5) translateZ(0);
        backface-visibility: hidden;
        transition: transform .28s ease;
        z-index: 4;
        &.image-adiary{
            background-image: url(/assets/images/projects/adiary.png);
        }

        &.image-winmart{
            background-image: url(/assets/images/projects/winmart.jpg);
        }

        &.image-truehope{
            background-image: url(/assets/images/projects/truehope.png);
        }

        &.image-dexxxshot {
            background-image: url(/assets/images/projects/dexxxshot.png);
        }

        &.image-vinpearl {
            background-image: url(/assets/images/projects/vinpearl.jpg);
        }

        &.image-t99 {
            background-image: url(/assets/images/projects/t99.jpg);
        }

        &.image-osakan {
            background-image: url(/assets/images/projects/osakan.png);
        }

        &.image-podland {
            background-image: url(/assets/images/projects/podland.jpg);
        }

        &.image-marinbikes {
            background-image: url(/assets/images/projects/marinbikes.png);
        }

        &.image-caretech {
            background-image: url(/assets/images/projects/caretech.png);
        }

        &::after{
            background-color: rgba(45,45,45,.85);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            content: ' ';
            z-index: 1;
            display: block;
            border-radius: 5px;
            @extend %transition;
        }
    }


    .content {
        position: absolute;
        bottom: 40px;
        left: 40px;
        right: 40px;
        max-width: 100%!important;
        z-index: 10;
        padding: 0;
        @media #{$lg-layout} {
            left: 20px;
            right: 20px;
        }
        @media #{$md-layout} {
            left: 20px;
            right: 20px;
        }
        @media #{$sm-layout} {
            left: 20px;
            right: 20px;
        }
        .inner {
            p {
                color: #c6c9d8;
                font-size: 14px;
            }
            h4 {
                font-size: 24px;
                line-height: 36px;
                a{
                    color: #ffffff;
                }
            }
            .portfolio-button{
                @extend %transition;
                margin-top: 35px;
                transition: 0.7s;
                @media #{$large-mobile} {
                    margin-top: 25px;
                }
                a {
                    &.rn-btn{
                        color: #ffffff;
                        border-color: rgba(255,255,255,0.3);
                        &:hover{
                            border-color: $theme-color;
                        }
                    }
                }
            }
        }
    }

    &.text-center {
        .content {
            position: absolute;
            bottom: 20px;
            left: 40px;
            max-width: 80% !important;
            z-index: 10;
            padding: 0;
            right: 40px;
            margin: 0 auto;
            @media #{$lg-layout} {
                left: 20px;
                right: 20px;
            }
            @media #{$md-layout} {
                left: 15px;
                right: 15px;
            }
            @media #{$sm-layout} {
                left: 10px;
                right: 10px;
            }
        }
    }
    &:hover{
        .thumbnail-inner{
            transform: scale(1.08) translateZ(0);
            &::before{
                opacity: 0.85;
            }
        }
        .thumbnail {
            transform: scale(1) translateZ(0);
            &::after{
                background-color: rgba(25,25,25,.24);
            }
        }
        .bg-blr-image{
            opacity: 0;
            z-index: 9;
        }
        
    }
    &.portfolio-style--2{
        .inner{
            margin: 0 20px;
        }
    }
}